<div class="container" style="width: 500px">
	<h1>Basic Form</h1>
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name</label> <input type="text"
				class="form-control" id="name" required>
		</div>

		<div class="form-group">
			<label for="alterEgo">Emp Id</label> <input type="text"
				class="form-control" id="alterEgo" required>
		</div>

		<div class="form-group">
			<label for="dept">Department</label> <select class="form-control" id="dept" required>
				<option *ngFor="let dept of departments" [value]="dept">{{dept.name}}</option>
			</select>
		</div>

		<button type="submit" class="btn btn-success">Submit</button>
		<button class="btn btn-default" (click)="clear()">Clear</button>

	</form>
</div>