<div class="container" style="width: 500px">
	<h3>Basic Form</h3>
	<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
		<div *ngIf="myForm.submitted">
			<div class="alert alert-success">
				<b>Submitted Value</b>
				<div>Name: {{ myForm.value.name }}, Emp ID: {{
					myForm.value.empid }} and Department: {{ myForm.value.dept }}</div>
			</div>
		</div>

		<div class="form-group">
			<label for="name">Name</label> <input type="text" name="name"
				ngModel class="form-control" id="name" >
		</div>
		<div class="form-group">
			<label for="alterEgo">Emp Id</label> <input type="text" name="empid"
				ngModel class="form-control" id="alterEgo">
		</div>

		<div class="form-group">
			<label for="dept">Department</label> <select class="form-control"
				name="dept" ngModel id="dept">
				<option value="" label="Select Department"></option>
				<option *ngFor="let dept of departments" [value]="dept.name">{{dept.name}}</option>
			</select>
		</div>

		<button type="submit" class="btn btn-success">Submit</button>
		<button type="reset" class="btn btn-default" (click)="reset(myForm)">Reset</button>
	</form>
</div>